# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/functions/node_modules

# testing
/coverage

/build

# misc
.DS_Store
.env
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/src/**/*.css
/src/**/workoutParser.js

# firebase
setenv
firebase-debug.log