
$accent-color:         #FF4081;
.program-page{
  .workout {
    display: flex;
    justify-content: space-between;
  }
  .workout-numbers {
    width: 40%;
    display: flex;
    justify-content: space-between;
    .workout-col {
      width: 100px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .pace-distribution {
    display: flex;
    .zone-E {
      background-color: lighten( $accent-color, 30% )
    }
    .zone-M {
      background-color: lighten( $accent-color, 20% )
    }
    .zone-T {
      background-color: lighten( $accent-color, 10% )
    }
    .zone-I {
      background-color: darken( $accent-color, 10% )
    }
    .zone-R {
      background-color: darken( $accent-color, 30% )
    }
  }
}