.vdot-performance {
  padding-top: 10px;
  .slider {
    padding-bottom: 10px;
  }

  .adjustments {
    display: flex;
    justify-content: center;
    button span{
      text-transform: lowercase !important;
    }
  }

  .vdot-value {
    display: flex;
    justify-content: center;
  }

  .slider-wrapper {
    position: relative;
    .slider-overlay {
      z-index: 1;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      cursor: pointer;
    }
  }
}