.goal-performance-table {
  .goal-time-picker {
    width: 80px;
  }
  .goal-performance {
    display: flex;
    align-items: center;
    justify-content: center;
    .column {
      width: 100px
    }
  }
}