$col-height: 36px;

.goal-performances {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .add-future-goal-dialog {
    width: 356px;
  }
  .goal-performance-table {
    margin-bottom: 20px;
  }
  .goal-performance {
    display: flex;
    align-items: center;
    .column {
      width: 80px;
      height: $col-height;
      display: flex;
      align-items: center;
    }
    .button-column {
      width: $col-height;
      height: $col-height;
      button {
        padding: 0px !important;
      }
    }
  }
}