.slider {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;

  .material-slider {
    flex-grow: 1;
    & > div {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }
  }

  .right-label {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    right: 0px;
  }

  .left-label {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
  }

  .rc-slider-mark {
    top: 14px;
  }

  .rc-slider-track {
    background-color: #00BCD4
  }

  &.selected {
    .pace-delta {
      visibility: hidden;
    }
  }
}