.slider {
  display: flex;
  align-items: center;
  height: 40px;
  padding-top: 15px;
}

.slider .change-btn {
  margin-left: 5px;
  margin-right: 5px;
}

.slider.selected .rc-slider-track {
  background-color: red;
}

.slider-handle {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: -75px;
  margin-top: -24px;
  width: 80px;
  height: 50px;
}

.slider-handle.right-side {
  margin-left: -5px;
}

.slider-handle .labels {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 85px;
}

.slider-handle.right-side .labels {
  align-items: flex-start;
  justify-content: flex-start;
}

.slider .right-label {
  margin-left: 10px;
}

.slider-handle-mark {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  border: solid 2px #96dbfa;
  background-color: #fff;
}

.slider .rc-slider-mark {
  top: 14px;
}