
$accent-color:         #FF4081;
.program-page{
  .workout {
    display: flex;
    justify-content: space-between;
  }
  .workout-numbers {
    width: 40%;
    display: flex;
    justify-content: space-between;
    .workout-col {
      width: 100px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .pace-distribution {
    display: flex;
    .zone-E {
      background-color: lighten(adjust-hue( $accent-color, 80% ), 20%)
    }
    .zone-M {
      background-color: lighten(adjust-hue( $accent-color, 50% ), 10%)
    }
    .zone-T {
      background-color: lighten(adjust-hue( $accent-color, 35% ), 5%)
    }
    .zone-I {
      background-color: adjust-hue( $accent-color, 10% )
    }
    .zone-R {
      background-color: darken($accent-color, 30%)
    }
  }
}